---
import Header from "../components/Header.astro";
import BlurCircle from "@/components/shared/BlurCircle.astro";
import theme from "@/data/theme";
import SEOTags from "@/components/seo/SEOTags.astro";
import type { HeadTags } from "@/utils/types/HeadTags";

import "@fontsource/open-sans";
import "@/styles/tailwind.css";
import "@/styles/post.css";

export type Props = HeadTags;

const headTags = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <SEOTags {...headTags} />
  <head><link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🇵🇷</text></svg>"
  /></head>
  <body
    class="mx-auto flex min-h-screen max-w-[872px] flex-col gap-9 bg-neutral-950 px-10 py-8 text-sm text-neutral-400 md:gap-20 md:py-16"
  >
    <Header />
    <BlurCircle position="top" color={theme.colors.blur.top} />
    <BlurCircle position="bottom" color={theme.colors.blur.bottom} />
    <slot />
    <style is:global>
      html {
        font-family: "Open Sans";
      }
    </style>
  </body>
</html>